[DEFAULT]

#
# From heat.api.middleware.ssl
#

# The HTTP Header that will be used to determine which the original request
# protocol scheme was, even if it was removed by an SSL terminator proxy.
# (string value)
#secure_proxy_ssl_header = X-Forwarded-Proto

#
# From heat.common.config
#

